<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fuzzy Search</title>
  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  
  <script type="text/javascript">
  $( function() {
    $( "#search" ).autocomplete({
      source: "search/",
      minLength: 1,
    });
  });
  </script>
</head>
<body>
  <br>
<div class="ui-widget">
  <center><h2>Fuzzy Search</h2>
  <form action= "/search_results" method= "GET">
      <input id="search" type="text" placeholder="Start Typing...." name="auto" size="25">
      <input type="submit" value="Search">
  </form>
  </center>
</div>
</body>
</html>